<div class="container-fluid bk-gradient">
    <br><br>
    <div class="row">

        <div class="col-4">
            <a href="#"><i class="fas fa-igloo text-white fa-4x"></i></a>
        </div>
        <div class="col-5">
            <form class="form-horizontal" action='' method="POST">
                <fieldset>
                    <div id="legend">
                        <legend class="text-white">Forget Password</legend>
                    </div>
                    <div class="card">
                        <div class="card-body">

                            <!-- Material form register -->
                            <form>
                                <p class="h4 text-center py-4">Sign up</p>

                                <!-- Material input text -->
                                <div class="md-form">
                                    <i class="fa fa-mail prefix grey-text"></i>
                                    <input type="text" id="materialFormCardNameEx" class="form-control">
                                    <label for="materialFormCardNameEx" class="font-weight-light">E-mail</label>
                                </div>

                                <div class="md-form">
                                    <!-- Button -->
                                    <div class="controls">
                                        <button class="btn btn-info text-white">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>