<!--Navbar -->
<storypage-header></storypage-header>
<!--/.Navbar -->

<div class="bk-gradient" id="page-wrapper">
    <div class="container-fluid">
        <div class="row row-stat">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6">

                        <div class="card mb-3" style="width: 50rem;">
                            <a (click)=goToCreateEvents()>
                                <div class="card-header display-3">
                                    Top story
                                </div>
                                <img class="card-img-top" src="assets/img/title-logo.png" alt="Card image cap">
                                <div class="card-body">
                                    <h3 class="card-title display-3">{{topstory.title}}</h3>
                                    <p class="card-text">{{topstory.story}}</p>
                                    <p class="card-text"><small class="text-muted">Last updated {{diffTimeUpdated}} mins
                                            ago</small></p>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-2">
                        <div class="card" style="width: 30em;">
                            <div class="card-header display-3">
                                Featured
                            </div>
                            <ul class="list-group list-group-flush" *ngFor="let story of userstories">
                                <li class="list-group-item ">{{story.story}}</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="container-fluid">
                <div class="row row-stat">
                    <div class="col-sm-12">
                        <div class="row">

                            <div class="col-md-2">
                                <div class="card" style="width: 57em;">
                                    <div class="card-header display-3">
                                        Latest
                                    </div>
                                    <ul class="list-group list-group-flush" *ngFor="let story of userstories">
                                        <li class="list-group-item ">{{story.story}}</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>