<app-navigate></app-navigate>
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid bk-gradient">
        <div class="d-flex justify-content-between">
        <i class="fab fa-facebook-f fa-4x text-white"></i>
        <i class="fab fa-twitter fa-4x text-white"></i>
        <i class="far fa-bookmark fa-3x text-white float-right"></i>
    </div>

        <div class="col-md-2 text-white">
            <blockquote class="blockquote">
            <p class="text-white">Notes Looks useful <i class="fas fa-question"></i> </p><a class="badge badge-info">Subscribe</a><br><br><strong class="text-center">#{{story.storycatogory}}</strong>
            <div class="text-left">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0"
                        alt="avatar image">
                <small class="text-white text-left">Notes by <cite title="Source Title"> Santosh</cite></small>
                <a class="badge badge-info">Subscribe</a>
              </div>
            
          </blockquote>
        </div>
        <div class="card w-75 jumbotron bg-white text-center">

            <div class="card-header">
                <h1 class="display-2">{{story.storyTitle}}</h1>
            </div>
            <div class="view overlay my-4">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid" alt="">
                <a href="#">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p class="display-4">{{story.storycontent}}</p>

                </blockquote>
            </div>
        </div>
        
     
        <ng-template #skeleton>
            <div class="col-md-2"><strong class="display-4 text-center"></strong>
                <p class="display-5">suscribe to startup to
                    receive latest updates</p><br><button type="button" class="btn btn-raised btn-secondary btn-lg">
                    Subscribe</button>
            </div>
            <div class="card w-75 jumbotron bg-white text-center">

                <div class="card-header">
                    <h2 class="display-2"></h2>
                </div>
                <div class="view overlay my-4">
                    <img src="" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="display-4"></p>

                    </blockquote>
                </div>
            </div>
        </ng-template>
    </div>
</div>