#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
  
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #2F4F4F;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  
   
}


#page-content-wrapper {
  width: 100%;
 
  
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 240px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.topics{
	 margin-top:0.5cm;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 270px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}


body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.full {
    background: url('/img/header.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.dashboard{
	 background: url('/img/dashboard1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	
}


