<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:70px 0">
    <div class="logo">Hi santosh, What your creating today ad/event/Article? Please choose from below...</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form id="register-form" class="text-left">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">

                        <div class="input-group">

                            <select id="type" class="selectpicker form-control" data-live-search="true"
                                    title="Please select Type.." [(ngModel)]="contenttype"
                                    (ngModelChange)="goTocreatead()" name="posttype">
                                <option>Please select one</option>
                                <option *ngFor="let content of postTypeList.listOfobjects; let i = index">
                                    {{content.type}}
                                </option>


                            </select>


                        </div>


                    </div>
                </div>
            </div>

        </form>
    </div>

    <!-- end:Main Form -->
</div>