#imaginary_container{
    margin-top:30%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
    border-color:0;
    height:30px
}
.stylish-input-group .form-control{
    border-right:0; 
	box-shadow:0 0 0; 
	border-color:0;
	height:40px
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.italic {
    font-style: italic;
}