button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}
// .navbar.transparent.navbar-inverse .navbar-inner {
//     background: rgba(226, 17, 17, 0.4);
   
//  }
//  .navbar{
//     background-image: linear-gradient(180deg, rgb(12, 152, 170), rgb(126, 197, 255));
//  }