<!-- Navigation -->
<!--<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display 
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="/img/title-logo.png" class="img-responsive" alt="Cinque Terre">
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <div>
                    <li>
                        <a *ngIf="userdetails.username" class="btn btn-info" (click)=goToCreateEvents()>create post</a>

                    </li>
                    <li class="dropdown">
                        <a *ngIf="!userdetails.username" class="dropdown-toggle btn btn-info" data-toggle="dropdown">create
                            post</a>


                        <ul class="dropdown-menu">
                            <li> login to create ad</li>
                            <li>
                                <a (click)=loginpage()>
                                    <i class="fa fa-cog"></i>Login</a>
                            </li>

                        </ul>
                    </li>
                </div>
                <div *ngIf="userdetails.username">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{userdetails.username}}
                            <b class="caret "></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <i class="fa fa-cog"></i> Account</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a (click)=logout()>
                                    <i class="fa fa-sign-out"></i> Sign-out</a>
                            </li>
                        </ul>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <!-- /.container 
</nav>
-->
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">
                    <br>
                </h2>
                <p class="lead">
                    <a target="_blank" href="">this is to test</a>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/ipad.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

    

    <div class="container" id="main">
        <div class="col-sm-9 text-left">
            <br/>
            <br/>
            <br/>

            <form class="form-inline">

                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>

            </form>

            <div class="card" *ngFor="let event of events">
                <div class="card-block">
                    <h4 class="card-title">{{event.title}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{event.catogory}}</h6>
                    <p class="card-text">Event Discription</p>
                    <a href="#" class="card-link">GoToEvntDesc</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

        </div>
    </div>
