<!-- REGISTRATION FORM -->
    <div class="text-center">
        <div class="logo">{{userdetails.username}} START WRITING POST IN {{contenttype}} AND PUBLISH WHEN FINISHED </div>
        <!-- Main Form -->
        <!--Textarea with icon prefix-->
        <div class="form-group">

            <input class="col-xs-2" id="ex3" type="text" placeholder="Title" />

            <textarea class="col-xs-9" rows="18" id="comment" placeholder="Start writing Article from here......."></textarea>
            <button type="button" class="btn btn-primary">PUBLISH</button>
        </div>

        


        <!-- end:Main Form -->
    </div>