<app-navigate></app-navigate>
<div class="container-fluid mt-3 bk-gradient">
    <div class="logo text-white">PICK A TOPIC</div>

    <div class="row">
        <div class="col-sm-4" *ngFor="let content of typeOfPosts; let i = index">
            <div class="card card-image "
                style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                <!-- Content -->
                <div class="text-info text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h5 class="pink-text"><i class="fas fa-chart-pie"></i> {{content.type}}</h5>
                        <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
                            voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum
                            dignissimos.
                            Odit sed qui, dolorum!.</p>
                        <a class="btn btn-pink" (click)="goToCreatePost(content.type)"><i class="fas fa-clone left"></i>
                            Take Notes</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-4">

            <div class="card card-image" style="background-image: url(assets/img/unnamed.png);">

                <!-- Content -->
                <div class="text-info text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h5 class="pink-text"><i class="fas fa-chart-pie"></i> </h5>
                        <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
                        <p>Topic Not in the List??</p>
                        <a class="btn btn-pink"><i class="fas fa-clone left">ADD TOPIC HERE</i></a>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>