<!-- Navigation -->
<nav class="navbar navbar-expand-lg  navbar-light bg-light" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->

    <a class="navbar-brand" href="#">
        <img src="assets/img/title-logo.png" width="80" height="40" class="d-inline-block align-top" alt="">
    </a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       

            <ul class="nav nav-pills">
                <li class="nav-item">

                    <a routerLink="/login" href="#" class="nav-link btn-primary">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link btn-primary" (click)="goToStartup()">Startup</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link btn-primary" (click)="goToBusiness()">Business</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link btn-primary" (click)="goToTech()">Technology</a>

                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link btn-primary" (click)="goToScience()">Science</a>

                </li>
            </ul>
    </div>
    <div class="navbar-right col-2">
        <ul *ngIf='login' class="nav navbar-nav  nav-pills">

                <li class="float-left nav-item ">
                    <a *ngIf="!userdetails.username" class="btn btn-info " (click)="goToLogin()">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="!userdetails.username" class="btn btn-info" (click)="goToSignUp()">SIGNUP</a>
                </li>
    
            </ul>
    </div>
        <div class="navbar-right" *ngIf="userdetails.username">

            <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                {{userdetails.username}}
                
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a *ngIf="userdetails.username" (click)=goToCreateEvents()>
                        <i class="fa fa-sign-out"></i>POST ARTICLE
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cog"></i> ACCOUNT
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a (click)=removeAccessTokenFromCache()>
                        <i class="fa fa-sign-out"></i> SIGNOUT
                    </a>
                </li>

            </ul>
        </div>

    
    <!-- /.navbar-collapse -->

    <!-- /.container -->
</nav>