<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="assets/img/title-logo.png" class="img-responsive" alt="Cinque Terre">
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div *ngIf='login' class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a *ngIf="!userdetails.username" class="btn btn-info" (click)="goToLogin()">LOGIN</a>
                </li>
                <li>
                    <a *ngIf="!userdetails.username" class="btn btn-info" (click)="goToSignUp()">SIGNUP</a>
                </li>

            </ul>
        </div>
        <div class="bs-example">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    
                    <a routerLink="/login" href="#" class="nav-link btn-primary" >Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link btn-primary" (click)="goToStartup()">Startup</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link btn-primary"(click)="goToBusiness">Business</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link btn-primary" (click)="goToTech()">Technology</a>

                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link btn-primary" (click)="goToScience()">Science</a>

                </li>
            </ul>
        </div>
        <div class="navbar-right" *ngIf="userdetails.username">

            <a class="btn btn-secondarydropdown-toggle " data-toggle="dropdown">
                {{userdetails.username}}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a *ngIf="userdetails.username" (click)=goToCreateEvents()>
                        <i class="fa fa-sign-out"></i>POST ARTICLE
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cog"></i> ACCOUNT
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a (click)=logout()>
                        <i class="fa fa-sign-out"></i> SIGNOUT
                    </a>
                </li>

            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
