<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:80px 20">
    <div class="logo">Register</div>
    <!-- Main Form -->
    <ng-template [ngIf]="userexists"> <div  class="alert alert-info" role="alert">
        {{message}}
    </div></ng-template>
    <div class="login-form-1">
        <form id="register-form" class="text-left">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="reg_username" class="sr-only">Username</label>
                        <input [(ngModel)]="username" #name="ngModel" type="text" class="form-control" id="reg_username"
                               name="username" placeholder="username"
                               required pattern="[a-zA-Z][a-zA-Z ]+">


                    </div>

                    <div class="form-group">
                        <label for="reg_password" class="sr-only">Password</label>
                        <input [(ngModel)]="password" type="password" class="form-control" id="reg_password"
                               name="password" placeholder="Password"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="reg_password_confirm" class="sr-only">Password Confirm</label>
                        <input [(ngModel)]="confirm_password" type="password" class="form-control"
                               id="reg_password_confirm" name="reg_password_confirm"
                               placeholder="Password Confirm">
                    </div>

                    <div class="form-group">
                        <label for="reg_email" class="sr-only">Email</label>
                        <input [(ngModel)]="email" type="text" class="form-control" id="reg_email" name="email"
                               placeholder="Email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                               #name="ngModel">

                    </div>
                    <div class="form-group">
                        <label for="reg_fullname" class="sr-only">Phone</label>
                        <input [(ngModel)]="phonenumber" type="text" class="form-control" id="reg_fullname"
                               name="reg_fullname" placeholder="Phonenumber">
                    </div>

                    <div class="form-group login-group-checkbox">
                        <input type="checkbox" class="" id="reg_agree" name="reg_agree">
                        <label for="reg_agree">i agree with
                            <a href="#">terms</a>
                        </label>
                    </div>
                </div>
                <button type="submit" class="login-button">
                    <i class="fa fa-chevron-right" (click)="registeronsubmit()"></i>
                </button>
            </div>
            <div class="etc-login-form">
                <p>already have an account?
                    <a (click)="goToLogin()">login here</a>
                </p>
            </div>
        </form>
    </div>
    <!-- end:Main Form -->
</div>